
@using EasySpeedyMortgages.Classes

<h3>Property Info</h3>



@Html.Application_Navigation_Buttons(
    new CustomHelpers.NavigationButton() { EnableValidation = false, PageId = "PersonalInfoPage02" },
    null
)



