
<section class="nav navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse navbar-body-list">
            <ul class="nav navbar-nav">
                <li class="active  nav-item"><a href="/" target="" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/HomePurchase/" target="" class="nav-link">Home Purchase</a></li>
                <li class="nav-item"><a href="/HomePurchase/?action=homerefinance" target="" class="nav-link">Refinance</a></li>
                <li class="nav-item"><a href="/ApplyNow/" target="_blank" class="nav-link">Apply Now</a></li>
                <li class="nav-item"><a href="/todays-rates/" target="" class="nav-link">Today's Rates</a></li>
                <li class="dropdown nav-item"><a href="/mortgage-basics/" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a><ul class="dropdown-menu"><li class="nav-item"><a href="/loan-programs/" target="" class="nav-link">Loan Programs</a></li><li class="nav-item"><a href="/loan-process/" target="" class="nav-link">Loan Process</a></li><li class="nav-item"><a href="/mortgage-basics/" target="" class="nav-link">Mortgage Basics</a></li><li class="nav-item"><a href="/mortgage-calculators/" target="" class="nav-link">Mortgage Calculators</a></li><li class="nav-item"><a href="/online-forms/" target="" class="nav-link">Online Forms</a></li><li class="nav-item"><a href="/faq/" target="" class="nav-link">FAQ</a></li></ul></li>
                <li class="nav-item"><a href="/about-us/" target="" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact-us/" target="" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="/blog/" target="" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="/locations/" target="" class="nav-link">Locations</a></li>
            </ul>
        </div>
    </div>
</section>