
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    h2, div {
        padding-left: 25px;
        padding-right: 25px;
    }
    }

<h2>@ViewBag.Title</h2>

<div class="text">@ViewBag.Content</div>

